<h3><font color="#64D2DB" <b>Moin Moin %s!</b></font color></h3><br>
<p>
<font color=”grey”>Deutsches Nordlicht zur freiberuflichen kreativen Unterstützung gefällig? Wunderprächtig, da kommen wir zusammen!<br>
</p>
<p>
Ich bin Jamie:
Unter dem Motto "Free like the wind designer" arbeite ich als freiberuflicher kreativer Wirbelwind in Deutschland und Österreich und suche momentan last-minute-Herausforderungen, spannende Projekte und/oder nette Leute zum Vernetzen. <br>
</p>
<p>
Bild zeigt beim Thema Design natürlich mehr als Wort, ob ich zu euch passe seht ihr hier:
www.jamieniederer.com <br>
</p>
<p>
Geht es um Illustration, Kampagne, Branding, Design oder Animation? Ich würde mich freuen euch beim Buschfeuer-Löschen zu helfen.<br>
</p>
<p>
Über ein "Moin moin zurück"... ähem "Servus" würde ich mich freuen.</font color><br>
</p>
--
<font color=”#747474”>JAMIE L. NIEDERER<br>
design // illustration // film // animation // fotografie<br>
www.jamieniederer.com<br>
wimmergasse 18 // 1050 wien // +43 688 9044 250</font color><br>
