<h3><font color="#64D2DB" <b>Ahoi there %s!</b></font color></h3><br>
<p>
<font color=”000000”>I am Jamie: Creative ninja-freelancer since 2012 - looking for new challenges, interesting projects and/or a friendly network all around the world.<br>
</p>
<p>
You´ve got any small or major forest fires that need to be put out? Or that special twist that is still missing from your project? I´d be happy to help out - especially with design, illustration, branding, animation/storyboard or conceptualizing.<br>
</p>
<p>
Check out my website to see if I am what you are looking for: <a href="url">www.jamieniederer.com</a><br>
</p>
<p>
I´d be happy to hear from you, feel free to contact me with the communication tool of your choice - from phone, email to smoke signal :-)
</p>
<p>
All the best from Vienna, Austria.</font color><br>
</p>
--
<font color=”light grey”>JAMIE L. NIEDERER<br>
design // illustration // film // animation // fotografie<br>
www.jamieniederer.com<br>
wimmergasse 18 // 1050 wien // +43 688 9044 250</font color><br>
</body>